<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewProjectApp"
        tools:targetApi="31">
        <activity
            android:name=".HouseActivity"
            android:exported="false" />
        <activity
            android:name=".PrivateDormActivity"
            android:exported="false" />
        <activity
            android:name=".RentRequestActivity"
            android:exported="false" />
        <activity
            android:name=".RentHouseActivity"
            android:exported="false" />
        <activity
            android:name=".BuyRequestActivity"
            android:exported="false" />
        <activity
            android:name=".BuyActivity"
            android:exported="false" />
        <activity
            android:name=".RequestActivity"
            android:exported="false" />
        <activity
            android:name=".PaidHouseActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".FormActivity6"
            android:exported="false" />
        <activity
            android:name=".FormActivity4"
            android:exported="false" />
        <activity
            android:name=".FormActivity5"
            android:exported="false" />
        <activity
            android:name=".FormActivity3"
            android:exported="false" />
        <activity
            android:name=".FormActivity2"
            android:exported="false" />
        <activity
            android:name=".FormActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".ColivingRegActivity"
            android:exported="false" />
        <activity
            android:name=".PaidHousingActivity"
            android:exported="false" />
        <activity
            android:name=".RegActivity"
            android:exported="false" />
        <activity
            android:name=".GroupsActivity"
            android:exported="false" />
        <activity
            android:name=".EventDescActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".EventActivity"
            android:exported="false" />
        <activity
            android:name=".AuthActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>